// Theme Colors
$color-base: #282828;
$color-highlight: #d79921;

$color-shade-darkest: #1d2021;
$color-shade-dark: #3c3836;
$color-shade-mid: #504945;
$color-shade-light: #665c54;
$color-shade-lightest: #7c6f64;

// Font Colors
$base-font-color: #ebdbb2;

$base-link-color: #458588;
$base-link-color-active: #83a598;
